{{ $values := .Values }}
{{ $env := .env }}
{{ $type := .type }}
helmfiles:
{{ $envConfig := (index $values.environments $env) }}
{{ if (eq $type "application") }}
- path: {{ if (or (env "KUBE_CORE_DEV") ($values | getOrNil "devMode")) }}{{ $values.org.core.helmfiles.applications.localPath }}{{ else }}{{ $values.org.core.helmfiles.applications.remotePath }}{{ end }}
{{ else if (eq $type "service") }}
- path: {{ if (or (env "KUBE_CORE_DEV") ($values | getOrNil "devMode")) }}{{ $values.org.core.helmfiles.services.localPath }}{{ else }}{{ $values.core.helmfiles.services.remotePath }}{{ end }}
{{ end }}
  values:
  # Core Values
  {{ range $values.org.core.values }}
  - {{ . }}
  {{ end }}
  {{ $entries := readDirEntries "../values/core/" }}
  {{ $clusterWideManifests := false }}
  {{ range $item := $entries }}
  {{ if and (contains ".yaml" $item.Name) (not $item.IsDir) }}
  - ../values/core/{{ $item.Name }}
  {{ end }}
  {{ end }}

  - core:
      helmfileName: "{{ $env }}.{{ $type }}"
      releasesEnabled: false
      releasesRawEnabled: false
      releasesCustomEnabled: false
      namespacesEnabled: false
      globalHelmMetadataEnabled: true
      globalLabelsEnabled: true
{{ if (eq $type "application") }}
      applicationsEnabled: true
  - applications: {{ toYaml $values.applications | nindent 6 }}
  - applicationsList: {{ toYaml $values.applications | nindent 6 }}
  - servicesList: {{ toYaml $values.services | nindent 6 }}
  - applicationsConfig: {{ toYaml $values.applicationsConfig | nindent 6 }}
{{ else if (eq $type "service") }}
      servicesEnabled: true
  - services: {{ toYaml $.Values.services | nindent 6 }}
  - applicationsList: {{ toYaml $.Values.applications | nindent 6 }}
  - servicesList: {{ toYaml $.Values.services | nindent 6 }}
  - servicesConfig: {{ toYaml $.Values.servicesConfig | nindent 6 }}
{{ end }}

{{ if (eq $type "application") }}
  # Environments - All in one - Simple
  {{ if isFile "../values/platform/applications.yaml" }}
  - ../values/platform/applications.yaml
  {{ end }}

  # Environments - All in one with default - Flexible
  {{ if isFile "../values/platform/applications-default.yaml" }}
  - ../values/platform/applications-default.yaml
  {{ end }}
  {{ if isFile (printf "../values/platform/applications-%s.yaml" $env) }}
  - {{ (printf "../values/platform/applications-%s.yaml" $env) }}
  {{ end }}

  # Environments - Split - Advanced
  {{ range $applicationName, $application := $values.applications }}
  ## Default values for all apps
  {{ if isFile "../values/envs/default/applications/commons.yaml" }}
  - applications:
      {{ $applicationName }}:
        values: {{ (readFile "../values/envs/default/applications/commons.yaml") | nindent 10 }}
  {{ end }}
  ## Default values for current app
  {{ if isFile (printf "../values/envs/default/applications/%s.yaml" $applicationName) }}
  - applications:
      {{ $applicationName }}:
        values: {{ (readFile (printf "../values/envs/default/applications/%s.yaml" $applicationName)) | nindent 10 }}
  {{ end }}

  # Default values for env
  {{ if isFile (printf "../values/envs/%s/applications/commons.yaml" $env) }}
  - applications:
      {{ $applicationName }}:
        values: {{ (readFile (printf "../values/envs/%s/applications/commons.yaml" $env)) | nindent 10 }}
  {{ end }}

  # App values
  {{ if isFile (printf "../values/envs/%s/applications/%s.yaml" $env $applicationName) }}
  - applications:
      {{ $applicationName }}:
        values: {{ (readFile (printf "../values/envs/%s/applications/%s.yaml" $env $applicationName)) | nindent 10 }}
        options: {{ toYaml $values.applicationsConfig.options | nindent 10 }}
  {{ end }}
  {{ end }}

  # Overlay
  - {{ toYaml $envConfig | nindent 4 }}
{{ else if (eq $type "service") }}
  # Environments - All in one - Simple
  {{ if isFile "../values/platform/services.yaml" }}
  - ../values/platform/services.yaml
  {{ end }}

  # Environments - All in one with default - Flexible
  {{ if isFile "../values/platform/services-default.yaml" }}
  - ../values/platform/services-default.yaml
  {{ end }}
  {{ if isFile (printf "../values/platform/services-%s.yaml" $env) }}
  - {{ (printf "../values/platform/services-%s.yaml" $env) }}
  {{ end }}

  # Environments - Split - Advanced
  {{ range $serviceName, $service := $.Values.services }}
  ## Default values for all service
  {{ if isFile "../values/envs/default/services/commons.yaml" }}
  - services:
      {{ $serviceName }}:
        values: {{ readFile "../values/envs/default/services/commons.yaml" | nindent 10 }}
  {{ end }}
  ## Default values for current service
  {{ if isFile (printf "../values/envs/default/services/%s.yaml" $serviceName) }}
  - services:
      {{ $serviceName }}:
        values: {{ readFile (printf "../values/envs/default/services/%s.yaml" $serviceName) | nindent 10 }}
  {{ end }}

  # Default values for env
  {{ if isFile (printf "../values/envs/%s/services/commons.yaml" $env) }}
  - services:
      {{ $serviceName }}:
        values: {{ readFile (printf "../values/envs/%s/services/commons.yaml" $env) | nindent 10 }}
  {{ end }}

  # Specific extra values for services in current env
  {{ range $k,$v := ($service | getOrNil "extraValues") }}
  {{ if isFile (printf "../values/envs/%s/services/%s.yaml" $env $k ) }}
  - services:
      {{ $serviceName }}:
        values: {{ readFile (printf "../values/envs/%s/services/%s.yaml" $env $k ) | nindent 10 }}
  {{ end }}
  {{ end }}

  # Service values
  {{ if isFile (printf "../values/envs/%s/services/%s.yaml" $env $serviceName) }}
  - services:
      {{ $serviceName }}:
        values: {{ readFile (printf "../values/envs/%s/services/%s.yaml" $env $serviceName) | nindent 10 }}
  {{ end }}
  {{ end }}

  # Overlay
  - {{ toYaml $envConfig | nindent 4 }}
{{ end }}
