{{ tpl (readFile "./templates/base/bases.yaml.gotmpl") . }}

{{ tpl (readFile "./templates/base/environments.yaml.gotmpl") . }}
---
helmfiles:
- path: ./layer.helmfile.yaml.gotmpl
  values:
  - core:
      helmfileName: "local"
      releasesEnabled: false
      releasesRawEnabled: false
      namespacesEnabled: false
      applicationsEnabled: false
      servicesEnabled: false
      environmentsEnabled: false
      clusterEnabled: true
  - {{ toYaml .Values | nindent 4 }}
