  {{- tpl (readFile "templates/releases/standard/patches/scheduling-node-selector.yaml.gotmpl") . }}
  {{- tpl (readFile "templates/releases/standard/patches/scheduling-node-affinity.yaml.gotmpl") . }}
