drainTimeout: {{ index .Values.releases .Release.Name "config" "drainTimeout" }}
interval: {{ index .Values.releases .Release.Name "config" "interval" }}
logFormat: json
nodeSelector: {{ toYaml (index .Values.releases .Release.Name "scheduling" "nodeSelector") | nindent 2 }}
tolerations: {{ toYaml (index .Values.releases .Release.Name "scheduling"  "tolerations") | nindent 2 }}
affinity: {{ toYaml (index .Values.releases .Release.Name "scheduling" "affinity") | nindent 2 }}
extraEnv:
  GOOGLE_APPLICATION_CREDENTIALS: {{ (index .Values.releases .Release.Name "secrets" "credentials" "targetPath") }}
secretName: {{ (index .Values.releases .Release.Name "secrets" "credentials" "existingSecret") }}
