# INFO: Please install `external-secrets` before adding stores.
stores:
  kubernetes:
    namespaces:
      - secrets
      {{ if .Values | getOrNil "environmentsList" }}
      {{ range $key, $data := .Values.environmentsList }}
      - {{ $key }}
      {{ end }}
      {{ end }}
external-secrets:
  # Enable service monitoring using Prometheus.
  serviceMonitor:
    enabled: true

  webhook:
    serviceMonitor:
      enabled: true

  certController:
    serviceMonitor:
      enabled: true
