{{ if (.Values.servicesList | getOrNil .Release.Name) }}
name: {{ .Release.Namespace }}
secretName: {{ coalesce (.Values.servicesList | getOrNil .Release.Name | getOrNil "flux" | getOrNil "secretName") "flux-ssh" }}
repository: {{ coalesce (.Values.servicesList | getOrNil .Release.Name | getOrNil "flux" | getOrNil "repository") .Values.cluster.config.repository.url }}
{{ end }}
