manifests:
- apiVersion: networking.istio.io/v1alpha3
  kind: Sidecar
  metadata:
    name: ingress
    namespace: nginx-istio-ingress
  spec:
    egress:
    - hosts:
      {{ toYaml (index .Values.releases "nginx-istio-ingress-controller" "config" "sidecarHosts") | indent 6 | trim }}

