manifests:
- apiVersion: networking.istio.io/v1beta1
  kind: Sidecar
  metadata:
    name: ingress
  spec:
    egress:
    - hosts:
      - istio-system/*
      {{ if (index .Values.releases "nginx-istio-ingress-controller" "config" "sidecarHosts") }}
      {{ range (index .Values.releases "nginx-istio-ingress-controller" "config" "sidecarHosts") }}
      - {{ . }}
      {{ end }}
      {{ end }}
