cluster: {{ toYaml .Values.cluster | nindent 4 }}
# See https://istio.io/docs/reference/config/istio.mesh.v1alpha1/ for all available options
meshConfig:
  accessLogFile: /dev/stdout
  accessLogEncoding: JSON

pilot:
#  enableProtocolSniffingForOutbound: false
  autoscaleEnabled: true
  autoscaleMin: 2
  autoscaleMax: 5
  replicaCount: 2
  rollingMaxSurge: 100%
  rollingMaxUnavailable: 25%
