cluster: {{ toYaml .Values.cluster | nindent 2 }}
scaling: {{ toYaml (index .Values.releases .Release.Name "scaling") | nindent 2 }}

es-exporter:
  enabled: true
  es:
    uri: http://logging-es-default:9200
  serviceMonitor:
    enabled: true
