# Dummy File because it is currently required to have a value files for each release
# nginx-istio-ingress-controller is using the values template of nginx-ingress-controller
# This is configured via the key "extraReleaseValues" on the release definition