useCertManager: true

clusterOperator:
  fullnameOverride: rabbitmq-cluster-operator
  metrics:
    enabled: {{ index .Values.releases "kps" "enabled" }}
    serviceMonitor:
      enabled: true

msgTopologyOperator:
  fullnameOverride: rabbitmq-topology-operator
  metrics:
    enabled: {{ index .Values.releases "kps" "enabled" }}
    serviceMonitor:
      enabled: true
