cluster: {{ toYaml .Values.cluster | nindent 2}}
cloud: {{ toYaml .Values.cloud | nindent 2}}
git: {{ toYaml .Values.git | nindent 2}}
tekton: {{ toYaml (index .Values.releases .Release.Name "config") | nindent 2 }}
releases:
  tekton-logging:
    enabled: {{ index .Values.releases "tekton-logging" "enabled" }}