{{ if .Values.core.installCRDs }}
- name: cert-manager-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/cert-manager
  values: []

- name: chaos-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/chaos
  values: []

- name: container-registry-operator-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/container-registry-operator
  values: []

- name: eck-operator-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/eck-operator
  values: []

- name: external-dns-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/external-dns
  values: []

- name: external-secrets-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/external-secrets
  values: []

- name: forecastle-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/forecastle
  values: []

- name: istio-base-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/istio-base
  values: []

- name: kps-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/kps
  values: []

- name: kube-fledged-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/kube-fledged
  values: []

- name: kubernetes-secret-generator-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/kubernetes-secret-generator
  values: []

- name: logging-operator-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/logging-operator
  values: []

- name: postgres-operator-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/postgres-operator
  values: []

- name: rabbitmq-cluster-operator-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/rabbitmq-cluster-operator
  values: []

- name: sealed-secrets-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/sealed-secrets
  values: []

- name: starboard-operator-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/starboard-operator
  values: []

- name: velero-crds
  labels:
    type: crd
  namespace: crds
  chart: ../releases/dist/releases/crds/velero
  values: []
{{ end }}