{{ $metadata := (dict) }}
{{ $_ := set .item "metadata" $metadata }}

{{- tpl (readFile "templates/releases/standard/variables/release-variables-config.yaml.gotmpl") . }}
{{- tpl (readFile "templates/releases/standard/variables/release-variables-cloud.yaml.gotmpl") . }}
