# Base
- ./layers/base/values/core/config/core.yaml
- ./layers/base/values/core/config/cloud.yaml
- ./layers/base/values/core/config/git.yaml
- ./layers/base/values/core/config/gitops.yaml
- ./layers/base/values/core/config/org.yaml
- ./layers/base/values/core/config/platform.yaml
- ./layers/base/values/core/config/project.yaml

- ./layers/base/values/core/cluster/specs.yaml
- ./layers/base/values/core/cluster/delivery.yaml
- ./layers/base/values/core/cluster/monitoring.yaml
- ./layers/base/values/core/cluster/logging.yaml
- ./layers/base/values/core/cluster/common.yaml
- ./layers/base/values/core/cluster/config.yaml
- ./layers/base/values/core/cluster/rbac.yaml
####################

####################
# Base
# Schema
- ./layers/base/values/core/releases/schema.yaml
# Defines all standard releases
- ./layers/base/values/core/releases/releases.yaml
# Defines all releases options
- ./layers/base/values/core/releases/releases-options.yaml
# Defines all cloud resources for releases
- ./layers/base/values/core/releases/releases-cloud.yaml
# Defines all releases labels
- ./layers/base/values/core/releases/releases-labels.yaml
# Defines all raw releases
- ./layers/base/values/core/releases/releases-raw.yaml
# Defines default templated values for all releases
- ./layers/base/values/core/releases/releases-config.yaml
# Defines default overrides for all releases
- ./layers/base/values/core/releases/releases-values.yaml
# Defines default secrets for all releases
- ./layers/base/values/core/releases/releases-secrets.yaml
# Defines default dynamic secrets for all releases
- ./layers/base/values/core/releases/releases-dynamic-secrets.yaml
# Defines default scheduling rules for all releases
- ./layers/base/values/core/releases/releases-scheduling.yaml
# Defines default hooks for all releases
- ./layers/base/values/core/releases/releases-hooks.yaml
# Defines default patches for all releases
- ./layers/base/values/core/releases/releases-patches.yaml
# Defines default scaling for all releases
- ./layers/base/values/core/releases/releases-scaling.yaml
# Defines default ingress for all releases
- ./layers/base/values/core/releases/releases-ingress.yaml
# Defines default slos for all releases
- ./layers/base/values/core/releases/releases-slos.yaml
# Defines namespaces releases
- ./layers/base/values/core/releases/namespaces.yaml
####################

####################
# Applications
# Defines environments config
- ./layers/base/values/platform/environments/environments.yaml
# Defines applications config
- ./layers/base/values/platform/applications/applications-schema.yaml
- ./layers/base/values/platform/applications/applications-config.yaml
# Defines services config
- ./layers/base/values/platform/services/services-schema.yaml
- ./layers/base/values/platform/services/services-config.yaml

####################
# END - Releases   #
####################

####################
# START - Packages #
####################

# Toggle releases easily
- ./layers/packages/base.yaml


# Essentials
{{ if (.Values | get "core.packages.cluster-tools.enabled" false) }}
- ./layers/packages/cluster-tools.yaml
{{ end }}

{{ if (.Values | get "core.packages.ingress.enabled" false) }}
- ./layers/packages/ingress.yaml
{{ end }}

{{ if (.Values | get "core.packages.essentials.enabled" false) }}
- ./layers/packages/essentials.yaml
{{ end }}


# Observability
{{ if (.Values | get "core.packages.logging.enabled" false) }}
- ./layers/packages/logging.yaml
{{ end }}

{{ if (.Values | get "core.packages.logging.enabled" false) }}
- ./layers/packages/logging.yaml
{{ end }}

{{ if (.Values | get "core.packages.test-logging.enabled" false) }}
- ./layers/packages/test-logging.yaml
{{ end }}

{{ if (.Values | get "core.packages.minio.enabled" false) }}
- ./layers/packages/minio.yaml
{{ end }}

{{ if (.Values | get "core.packages.rabbitmq.enabled" false) }}
- ./layers/packages/rabbitmq.yaml
{{ end }}

{{ if (.Values | get "core.packages.monitoring.enabled" false) }}
- ./layers/packages/monitoring.yaml
{{ end }}

# Estafette
{{ if (.Values | get "core.packages.estafette.enabled" false) }}
- ./layers/packages/estafette.yaml
{{ end }}

# Tekton
{{ if (.Values | get "core.packages.tekton.enabled" false) }}
- ./layers/packages/tekton.yaml
{{ end }}

# Istio
{{ if (.Values | get "core.packages.istio.enabled" false) }}
- ./layers/packages/istio.yaml
{{ end }}

{{ if (.Values | get "core.packages.crossplane.enabled" false) }}
- ./layers/packages/crossplane.yaml
{{ end }}

{{ if (.Values | get "core.packages.kyverno.enabled" false) }}
- ./layers/packages/kyverno.yaml
{{ end }}

####################
# END - Packages   #
####################


# Custom Layers
{{ if (.Values | get "core.ha" false) }}
- ./layers/custom/ha.yaml
{{ end }}



# A last chance to override anything :)
{{ if isFile "./layers/config/overrides.yaml" }}
- ./layers/config/overrides.yaml
{{ end }}
