helmDefaults:
  # kubeContext: kube-core
  cleanupOnFail: true #dedicated default key for helm flag --cleanup-on-fail
  wait: false
  force: false
  historyMax: 10
  createNamespace: true
  devel: true
