environments:
  default:
    values:
    {{ tpl (readFile "./lib/printfiles.functions.yaml.gotmpl") (dict "path" "../values/platform") | nindent 4 }}
---
{{ tpl (readFile "./commons.yaml.gotmpl" ) . }}
{{ $values := .Values }}
{{ tpl (readFile "./lib/local.template.yaml.gotmpl") (dict "Values" .Values) }}
